/* COLORS */

/* - White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%) */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
}

.qr-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.1rem;
  max-width: 21%;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  padding: 1.2rem;
  border-radius: 1.8rem;
  font-size: 1.5rem;
}

.qr-img {
  max-width: 100%;
  border-radius: 1.8rem;
}

.qr-text {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding: 0 1.6rem 1.8rem;
}
.qr-m {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}
.qr-steps {
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(218, 44%, 22%);
  position: absolute;
  bottom: 3%;
}
.attribution a {
  color: hsl(199, 45%, 44%);
}
